<a href="#" class="c-bannerB6 {{class}}">
	<img class="c-bannerB6_img c-bannerB6_img-medium" src="{{img}}-medium.jpg" alt="">
	<img class="c-bannerB6_img c-bannerB6_img-small" src="{{img}}-small.jpg" alt="">
</a>