<div class="c-goBack {{class}}">
  <a href="javascript:history.back()" class="c-goBack_btn">
    {{render '@c-icon' c-iconClose merge=true}}
    <span class="c-goBack_btn-text">{{text}}</span>
  </a>
</div>