<div class="c-filterAz js-filterAz {{class}}">
  <ul class="c-filterAz_list">
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-small c-filterAz_link-lettersGroup is-active" id="allLetter">Tutti</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-small c-filterAz_link-lettersGroup c-filterAz_link-disabled js-filterAz_link-disabled" id="letter0">0-#</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterA">A</a>
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-lettersGroup c-filterAz_link-disabled js-filterAz_link-disabled" id="letterABC"><span class="c-filterAz_link-disabled" id="charA">A</span> <span class="c-filterAz_link-disabled" id="charB">B</span> <span class="c-filterAz_link-disabled" id="charC">C</span></a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterB">B</a>
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-lettersGroup c-filterAz_link-disabled js-filterAz_link-disabled" id="letterDEF"><span class="c-filterAz_link-disabled" id="charD">D</span> <span class="c-filterAz_link-disabled" id="charE">E</span> <span class="c-filterAz_link-disabled" id="charF">F</span></a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterC">C</a>
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-lettersGroup c-filterAz_link-disabled js-filterAz_link-disabled" id="letterGHI"><span class="c-filterAz_link-disabled" id="charG">G</span> <span class="c-filterAz_link-disabled" id="charH">H</span> <span class="c-filterAz_link-disabled" id="charI">I</span></a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterD">D</a>
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-lettersGroup c-filterAz_link-disabled js-filterAz_link-disabled" id="letterJKL"><span class="c-filterAz_link-disabled" id="charJ">J</span> <span class="c-filterAz_link-disabled" id="charK">K</span> <span class="c-filterAz_link-disabled" id="charL">L</span></a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterE">E</a>
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-lettersGroup c-filterAz_link-disabled js-filterAz_link-disabled" id="letterMNO"><span class="c-filterAz_link-disabled" id="charM">M</span> <span class="c-filterAz_link-disabled" id="charN">N</span> <span class="c-filterAz_link-disabled" id="charO">O</span></a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterF">F</a>
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-lettersGroup c-filterAz_link-disabled js-filterAz_link-disabled" id="letterPQR"><span class="c-filterAz_link-disabled" id="charP">P</span> <span class="c-filterAz_link-disabled" id="charQ">Q</span> <span class="c-filterAz_link-disabled" id="charR">R</span></a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterG">G</a>
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-lettersGroup c-filterAz_link-disabled js-filterAz_link-disabled" id="letterSTU"><span class="c-filterAz_link-disabled" id="charS">S</span> <span class="c-filterAz_link-disabled" id="charT">T</span> <span class="c-filterAz_link-disabled" id="charU">U</span></a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterH">H</a>
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-lettersGroup c-filterAz_link-disabled js-filterAz_link-disabled" id="letterVWX"><span class="c-filterAz_link-disabled" id="charV">V</span> <span class="c-filterAz_link-disabled" id="charW">W</span> <span class="c-filterAz_link-disabled" id="charX">X</span></a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterI">I</a>
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-lettersGroup c-filterAz_link-disabled js-filterAz_link-disabled" id="letterYZ"><span class="c-filterAz_link-disabled" id="charY">Y</span> <span class="c-filterAz_link-disabled" id="charZ">Z</span></a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterJ">J</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterK">K</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterL">L</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterM">M</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterN">N</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterO">O</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterP">P</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterQ">Q</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterR">R</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterS">S</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterT">T</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterU">U</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterV">V</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterW">W</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterX">X</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterY">Y</a>
    </li>
    <li class="c-filterAz_item">
      <a href="#" class="c-filterAz_link js-filterAz_link c-filterAz_link-disabled js-filterAz_link-disabled" id="letterZ">Z</a>
    </li>
  </ul>
</div>