<a href="#" class="c-bannerB12 {{class}}">
	<img class="c-bannerB12_img c-bannerB12_img-large" src="{{img}}-large.jpg" alt="">
	<img class="c-bannerB12_img c-bannerB12_img-medium" src="{{img}}-medium.jpg" alt="">
	<img class="c-bannerB12_img c-bannerB12_img-small" src="{{img}}-small.jpg" alt="">
</a>