<div class="c-circularLoading {{class}}">
    <div class="c-circularLoading_msk c-circularLoading_msk-right">
        <div class="c-circularLoading_rotatingEl"></div>
    </div>

    <div class="c-circularLoading_msk c-circularLoading_msk-left">
        <div class="c-circularLoading_rotatingEl"></div>
    </div>
</div>