<section class="section section-large u-push-top-half u-push-top-none@sm {{class}}">
  <div class="container u-pull-top u-pull-btm u-pull-top-none@sm u-pull-btm-none@sm">
    <div class="row">
      {{#each s-banner-items}}
        <div class="col-md-4 u-push-btm-half u-push-btm@sm">
          {{render '@c-bannerb4' c-bannerB4 merge=true}}
        </div>
      {{/each}}
    </div>
  </div>
</section>