<div class="c-followUs {{class}}">
	<div class="c-followUs_titleWrap">
		<span class="c-followUs_title">{{title}}</span>
	</div>

	<div class="c-followUs_icons">
		{{#each nIcons}}
			<a href="#" class="c-followUs_link">
			 {{render '@c-icon' c-icon merge=true}}
			</a>
		{{/each}}
	</div>
</div>