<div class="c-countdownSuperSimple {{class}}">
	<div class="countdownSuperSimple_wrap">
		<span class="c-countdownSuperSimple_info">{{info}} {{#if c-iconInfo}}{{render '@c-icon' c-iconInfo merge=true}}{{/if}}</span>
		<span class="c-countdownSuperSimple_time">{{time}}</span>
	</div>
</div>