<section class="section s-titlePageStripe {{class}} {{class-layout}}">
	<div class="container">
		<div class="row">
			<div class="col-12">
				{{render '@c-titlepage' c-titlePage merge=true}}
			</div>
		</div>
	</div>
</section>