<a href="#" class="c-bannerB4 {{class}}">
	<img class="c-bannerB4_img c-bannerB4_img-medium" src="{{img}}-medium.jpg" alt="">
	<img class="c-bannerB4_img c-bannerB4_img-small" src="{{img}}-small.jpg" alt="">
</a>