<div class="c-emptyPage {{class}}">
	<div class="c-emptyPage_iconWrapper">
		{{render '@c-icon' c-iconSearch}}
	</div>

	<h3 class="c-emptyPage_title">
        {{title}}
    </h3>

    <p class="c-emptyPage_desc">
        {{description}}
    </p>
</div>