<section class="section {{class}} {{class-layout}}">
  <div class="container">
    <div class="row">
    	<div class="col-12">
			{{render '@c-sectiontitle' c-sectionTitle merge=true}}
		</div>
    </div>
  </div>
</section>