<div class="c-playerAudio {{class}}">
	<iframe referrerpolicy="no-referrer-when-downgrade" allowfullscreen="" height="100%" width="100%" frameborder="0" src="//tp.srgssr.ch/p/rsi/inline?urn=urn:rsi:audio:9167701" srg-player-id="b23281ae-e702-477b-9888-5f20a62c8492"></iframe>
</div>