<section class="section section-large section-border section-dark">
  <div class="container">
    <div class="row">
      {{#each teasers}}
        <div class="col-md-4 u-push-btm">
          {{render '@c-teasersmall' c-teaserSmall merge=true}}
        </div>
      {{/each}}
    </div>
  </div>
</section>