<section  class="section s-pageTitle_containerImg" style="background-image:url({{imgUrl}})">
  <div class="container">
    <div class="row">
      <div class="col-md-12 {{classCol}}">
        <div class="s-pageTitle">
          <h1>{{title}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>