<section class="section {{class}}">
  <div class="container">
 			{{render '@c-sectiontitle' c-sectionTitle merge=true}}
			{{render '@c-accordionarticle' c-accordionArticle merge=true}}
  </div>
</section>