<section class="section section-light u-p-rel {{class}}">
  <div class="container u-pull-top-oneAndHalf u-pull-top-none@sm" id="js-container-liveTicker">
    {{render "@c-liveticker" liveTicker merge=true}}
  </div>
</section>
