<section class="section section-light {{class}}">
  <div class="container">
    {{render '@c-sectiontitle--light' c-sectionTitle-light merge=true}}
  </div>
    {{render '@c-slider' c-slider-light merge=true}}
</section>