<a href="#" class="c-button {{class}}">
	<div href="#" class="c-button_wrap">
		<span class="c-button_label">{{label}}</span>

		{{#if c-playIcon}}
			<div class="c-button_icon">
				{{render '@c-playicon' c-playIcon merge=true}}
			</div>
		{{/if}}
	</div>
</a>