<section class="section {{class}} {{class-layout}}">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				{{render '@c-heroimg' c-heroImg merge=true}}
			</div>

			<div class="col-md-4 u-push-top u-push-top-none@md">
				{{render '@c-teaser' c-teaser merge=true}}
			</div>
		</div>
	</div>
</section>