<section class="section {{class}}">
	<div class="container u-pull-btm-1">
	    {{render '@c-sectiontitle--live' c-sectionTitle merge=true}}
	</div>
	<section class="section section-border u-padd-top">
		<div class="container">
		    {{render '@c-titlelist--playicon' c-titleList merge=true}}
		</div>
	</section>
</section>