<section class="section section-bg {{class}}" {{#if pathBgImage}}style="background-image:url({{imagePath pathBgImage}})"{{/if}}>
  <div class="container">

    {{render '@c-featureiframes' c-featureIframes merge=true}}
  </div>
</section>
