<div class="c-footerMinimized {{class}}">
	<div class="c-footerMinimized_copyrightRsi">
		<span class="c-footerMinimized_copyrightRsiText">
			Copyright © RSI 2017 - All rights reserved &nbsp;
			<a href="#" class="c-footerMinimized_email">webmaster@rsi.ch</a>
		</span>
	</div>

	<div class="c-footerMinimized_copyrightSrg">
		<span class="c-footerMinimized_copyrightSrgText">
			RSI Radiotelevisione svizzera di lingua italiana, succursale della Società svizzera di radiotelevisione
		</span>
		
		<div class="c-footerMinimized_logoSrg">
			<img src="{{path-logo-srg}}">
		</div>
	</div>
</div>