<section class="section s-filterDropdownWithTitle {{class}} {{class-layout}}">
  <div class="container">
    <div class="row">
      <div class="{{columns}}">
        {{render '@c-filteredlistwithtext' c-filteredListWithText merge=true}}
      </div>
    </div>
  </div>
</section>