<div class="section section-large section-border section-dark">
  <div class="container">
    <div class="row">
      {{#each s-banner-items}}
        <div class="col-md-6 u-push-btm u-ta-center">
          <a href="#">
            <img class="u-img-max" src="{{img}}" alt="">
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</div>