<section class="section {{class}}">
  <div class="container">
    {{#if c-sectionTitleShow}}
      {{render '@c-sectiontitle' c-sectionTitle merge=true}}
    {{/if}}

    <div class="row">
      {{#each teasers}}
          <div class="col-sm-6 col-md-4 col-lg-3 u-push-btm {{#ifIndex @index 2}}u-d-none u-d-blk@sm{{/ifIndex}} {{#ifIndex @index 3}}u-d-none u-d-blk@md{{/ifIndex}} {{#if @last}}u-d-blk u-d-none@sm{{/if}} u-d-blk@lg">
            {{render '@c-heroimg--video' c-heroImg merge=true}}
          </div>
      {{/each}}
    </div>
  </div>
</section>