<div class="section section-large {{class}}">
  <div class="container">
    <div class="row">
      {{#each s-banner-items}}
        <div class="col-md-6 u-push-btm-half u-push-btm@sm">
          {{render '@c-bannerb6' c-bannerB6 merge=true}}
        </div>
      {{/each}}
    </div>
  </div>
</div>