<div class="section section-large section-border section-dark">
  <div class="container">
    <div class="row">
	    <div class="col-12 u-push-btm-half u-push-btm@sm">
	      {{render '@c-bannerb12' c-bannerB12 merge=true}}
	    </div>
    </div>
  </div>
</div>