<div class="section {{class}} {{class-layout}}">
  <div class="container">
  	{{#if c-sectionTitle}}
      {{render '@c-sectiontitle' c-sectionTitle merge=true}}
    {{/if}}

  	{{render '@c-carousel' c-carousel merge=true}}
  </div>
</div>